<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="tests" thread-count="5">
  <test name="TestonChrome">
  <parameter name="browsername" value="chrome"></parameter>
    <classes>
      <class name="demo.TestngmultiBrowserDemo"/>
    </classes>
  </test> <!-- Test1 -->
  
  <test name="TestonFirefox">
    <parameter name="browsername" value="firefox"></parameter>
    <classes>
      <class name="demo.TestngmultiBrowserDemo"/>
    </classes>
  </test>
  
</suite> <!-- Suite1 -->
